body {
  //font-family: 'Lato', sans-serif;
  font-family: 'Nanito', sans-serif;
}

.wrapper {
  margin: 0 10px;
}

.line-bottom {
  position: absolute;
  bottom: 0;
}

.columns-nav {
  height: 120px;
}

.nav-level-right {
  font-size: .6rem;
  text-transform: uppercase;
  letter-spacing: .02rem;
  font-weight: bold;
}

.nav-level-right a {
  color: #444;
}

.level a:hover {
  text-decoration: underline;

}

.custom-slider {
  height: 401px;
  /*height: 50vh;*/
  background-color: #1a3180;
  /*background-color: #27347d;*/
}

.title-margin {
  /*margin: 1em 0;*/
  padding: 1rem 0;
}

.no-bold {
  font-weight: normal;
}

.items {
  /*background-color: red;*/
  border: 1px solid white;
}

.items:hover {
  /*border: 1px solid #ff6600;*/
  /*border-top: 1px solid #ff6600;*/
  border-radius: 1vw;
  border: 1px solid #e2e2e2;
  /*background-image: linear-gradient(-0deg, #e2e2e2, white);*/
}

.items .columns img {
  width: 100%;
}

.items-row {
  margin: 2rem 0 2em;
}

.item-label {
  background-color: #ff6600;
  color: white;
  font-size: 1rem;
  padding: 0.4vw 0.7vw;
}

.item-title {
  color: #000;
  font-size: 1.75vh;
  //font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  //height: 5rem;
}

.item-desc {
  font-size: 0.8rem;
  font-weight: initial;
  text-transform: capitalize;
}

.item-details {
  font-size: 0.8rem;
  color: #333366;
  text-decoration: underline;
}

.item-details:hover {
  text-decoration: none;
}

.a-more {
  font-size: 2.3vw;
  text-decoration: underline;
  color: #27347d;
}

.a-more:hover {
  text-decoration: none;
  color: #27347d;
}

.all-bikes {
  margin: 5rem;
}

.menu-column-title {
  margin: 2vw 0 1.5vw;
  font-size: 12pt;
  font-weight: bold;
}

.menu-column-link {
  font-size: 10pt;
  color: #666666;
  text-decoration: underline;
}

.menu-column-link:hover {
  text-decoration: none;
}

.menu-column-bold-text {
  font-size: 10pt;
  color: #666666;
  font-weight: bold;
}

.menu-column-text {
  font-size: 10pt;
  color: #666666;
}

.menu-bottom {
  margin-top: 4rem;
}

p.p-block-text {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

a.p-block-link {
  font-size: 1.1rem;
  margin: 1.5rem 0;
  line-height: 1.3;
  text-decoration: underline;
  color: #27347d;
}

a.p-block-link:hover {
  text-decoration: none;
}

nav.breadcrumb {
  margin-top: 16px;
}

nav.breadcrumb a {
  font-size: 0.9rem;
  text-decoration: underline;
  color: #666;
}

nav.breadcrumb li.is-active a {
  text-decoration: none;
}

nav.breadcrumb a:hover {
  text-decoration: none;
}

.bike-margin {
  margin-top: 2em;
}


.item-description-box ul {
  list-style: inside;
}

.item-description-box ul li {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.i-title {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.i-art {
  //color: #b3b3b3;
  font-size: 0.9rem;
}

.i-art-name {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .05rem;
}

.i-brand {
  margin: 2rem 0;
  //color: #b3b3b3;
  font-size: 0.9rem;
}

.i-brand-name {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .05rem;
}

.i-price {
  margin: 2rem 0;
  //color: #b3b3b3;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #3b9cff;
  color: white;
}

.i-price-value {
  color: white;
  font-weight: bold;
  font-size: 2.4rem;
  //letter-spacing: .05rem;
}

.i-description {

}

.filter-subtitle {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #27347d;

}

.filter-list {

}

/*!!!*/
.field {
  margin-bottom: 0 !important;
}

.nav-menu-container {
  padding-bottom: 10px;
  border-bottom: 3px solid #27347d;
}

.nav-menu-container p.menu-column-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .05rem;
  color: #27347d;
}

.js-nav-menu {
  top: 4.9rem;
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
}

.nav-menu-button-close {
  border: 0px;
}

.pageloader {
  background-color: #0188d1 !important;
}

.img_center {
  text-align: center !important;
}
