<template>
    <div class="container is-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <router-link :to="{ name: 'home'}">Головна</router-link>
                </li>
                <li class="is-active"><a href="javascript:;" aria-current="page">Про нас</a></li>
            </ul>
        </nav>
        <h1 class="title is-1 no-bold ">
            404
        </h1>
        <div class="columns bike-margin is-vcentered  is-centered">
            <div class="column is-two-fifths">
                <div class="img_center">
                    <p class="notfound">:(</p>
                </div>
            </div>
            <div class="column">
                <div class="border-left">
                    <h2 class="column-title">404!</h2>
                    <p>Шкода, але ми не знайшли такої сторінки (</p>
                    <p>Ви можете повернутись на <router-link :to="{name: 'home'} ">головну сторінку</router-link></p>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
      metaInfo() {
        return {
          title: this.$title('404!')
        }
      },
    }
</script>

<style scoped>
    .border-left {
        border-left: 1px solid #3273dc;
        padding-left: 10px;
    }

    .column-title {
        font-size: 1.5rem;
    }

    p.notfound {
            font-size: 4rem;
    }
</style>
