<template>
  <div class="wrapper">
    <div class="container is-desktop">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <router-link :to="{ name: 'home'}">Головна</router-link>
          </li>
          <li class="is-active"><a href="javascript:;" aria-current="page">Про нас</a></li>
        </ul>
      </nav>
      <h1 class="title is-1 no-bold ">
        Про нас
      </h1>
      <div class="columns bike-margin is-vcentered  is-centered">
        <div class="column is-two-fifths">
          <div class="img_center">
            <img src="/images/shop/01.jpg" alt="asd"></div>
        </div>
        <div class="column">
          <div class="border-left">
            <h2 class="column-title">Наш магазин</h2>
            "Ровербайк" був
            заснований у Тернополі в 1997 році. Під час нашої роботи більше 15000 чоловік стали нашими
            задоволеними
            покупцями. На сьогоднішній день "Ровербайк" це магазин, який із сформованою командою
            професіоналів,
            які
            володіють значним практичним досвідом і розвивається у наступних напрямках: продаж велосипедів,
            аксесуарів, запчастин, спортивного одягу, а також обслуговування і ремонт.
          </div>
        </div>
      </div>
      <div class="columns bike-margin is-vcentered  is-centered">
        <div class="column">
          <div class="border-left">
            <h2 class="column-title">Каталог товарів</h2>
            У нас величезний
            вибір велосипедів, в каталозі сайту представлено більше 10000 велосипедів, в наявності багато
            популярних
            моделей і модифікацій (співвідношень кольорів і розмірів рам).
            На даний момент у нас найбільший вибір модифікацій велосипедів у м.Тернополі! Магазини
            конкурентів у більшості працюють "під замовлення", фактично не маючи в торговому
            залі заявлених кольорів і розмірів рам.
          </div>
        </div>
        <div class="column is-two-fifths">
          <div class="img_center">
            <img src="/images/shop/02.jpg" alt="asd"></div>
        </div>
      </div>
      <div class="columns bike-margin is-vcentered  is-centered">
        <div class="column is-two-fifths">
          <div class="img_center">
            <img src="/images/shop/03.jpg" alt="asd"></div>
        </div>
        <div class="column">
          <div class="border-left">
            <h2 class="column-title">Гарантія</h2>
            На всі реалізовані
            товари ми надаємо фірмову гарантію. Вам не доведеться звертатися в віддалений сервісний центр.
            Всі
            питання розглядаються там, де Ви купили товар, тобто у нас у веломастерні, яка зручно
            розташована
            поруч з торговим залом.

            Крім гарантії ми безкоштовне проводимо настройку і регулювання куплених у нас велосипедів
            протягом
            90 днів!
          </div>
        </div>
      </div>
      <div class="columns bike-margin is-vcentered  is-centered">
        <div class="column">
          <div class="border-left">
            <h2 class="column-title">Наша майстерня</h2>
            Наша майстерня
            обладнана сучасним велосипедним обладнанням. У наших майстрів великий досвід роботи по ремонту
            велосипедів. Тому ремонт виконується
            на високому професійному рівні, кожна операція виконується дуже ретельно і якісно.
          </div>
        </div>
        <div class="column is-two-fifths">
          <div class="img_center">
            <img src="/images/shop/04.jpg" alt="asd"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "about",
  metaInfo() {
    return {
      title: this.$title('Про нас')
    }
  },
}
</script>

<style scoped>
.border-left {
  border-left: 1px solid #3273dc;
  padding-left: 10px;
}

.column-title {
  font-size: 1.5rem;
}
</style>
