<template>
    <div class="wrapper">
        <div class="container is-desktop">
            <Loader v-if="loading"></Loader>

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <router-link :to="{ name: 'home' }">Головна</router-link>
                    </li>
                    <li class="is-active"><a href="javascript:;" aria-current="page">Аксесуари - Розпродаж</a></li>
                </ul>
            </nav>

            <div v-if="!loading">
                <div class="columns">
                    <div class="column">
                        <h1 class="title is-1 no-bold ">
                            {{ type }}
                        </h1>
                        <div v-if="!displayItems.length">
                            <is-empty></is-empty>
                        </div>
                        <template v-if="displayItems.length">
                        <div class="columns is-centered items-row  is-variable is-1-mobile is-8" v-for="row in displayItems">
                            <div class="column has-text-centered items is-one-quarter" v-for="item in row"
                                 :key="item.id">
                                <div class="columns">
                                    <div class="column has-text-left"><span
                                        class="item-label">{{ item.brand }}</span></div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <a
                                            class="item-details"
                                            :href="`/accessory/${item.brandslug}/${item.slug}`" @click.prevent="openDetails(item.id)">
                                            <img v-lazy="item.image" :title="item.name">
                                        </a>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column item-title">
                                        <div class="item-desc">{{ item.type }}</div>
                                        {{ item.name }}
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column has-text-right">
                                        <a
                                            class="item-details"
                                            :href="`/accessory/${item.brandslug}/${item.slug}`" @click.prevent="openDetails(item.id)">Детальніше&nbsp;&raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </template>
                    </div>
                </div>

            </div>
        </div>
        <AccessoryDetails :brand='item.brandslug' :slug="item.slug" v-if="details" @closePopup="closePopup"></AccessoryDetails>
    </div>
</template>

<script>
import 'bulma-pageloader/dist/css/bulma-pageloader.min.css';
import IsEmpty from "../components/IsEmpty";
import AccessoryDetails from "../components/AccessoryDetails";

export default {
    name: "accessories",
    props: ['category'],
    data() {
        return {
            details: false,
            data: [],
            items: [],
            brand: null,
            slug: null,
            loading: true,
            type: null,
            error: null,
            empty: false
        }
    },
    metaInfo() {
        return {
            title: this.$title(this.type)
        }
    },
    computed: {
        displayItems() {
            return _.chunk(this.items, 4) ?? [];
        }
    },
    watch: {
        $route: 'fetchData'
    },
    methods: {
        openDetails(id) {
            this.item = this.data.find(el=>el.id === id);
            this.details = true

            return false
        },
        closePopup() {
            this.details = false
            this.item = null
        },
        fetchData() {
            let _category = (this.category) ? this.category : 'all';

            let url = '/api/accessories-sale/' + _category;

            fetch(url)
                .then(item => {
                    return item.json();
                })
                .then((data) => {
                    if (_category == 'all') {
                        this.type = 'Аксесуари'
                    } else {
                        // if (data) {
                        if (data.length) {
                            this.type = 'Аксесуари - Розпродаж -' + data[0][0].type;
                            this.empty = false;
                        } else {
                            this.type = 'Аксесуари - Розпродаж -';
                            this.empty = true;
                        }
                        // }
                    }

                    this.data = data.data;
                    this.items = data.data;
                    this.loading = false;
                });
        }
    },
    mounted() {
        this.fetchData()
    },
    components: {
        IsEmpty,
        AccessoryDetails
    },
}
</script>

<style scoped>

</style>
