<template>
    <div class="wrapper">
        <div class="container is-desktop">
            <Loader v-if="loading"></Loader>

            <div v-if="!loading">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <router-link :to="{ name: 'home' }">Головна</router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'accessories' }" aria-current="page">Аксесуари</router-link>
                        </li>
                        <li class="is-active">
                            <a href="javascript:;" aria-current="page">{{ item.type }}</a>
                        </li>
                    </ul>
                </nav>


                <h1 class="title is-1 no-bold ">
                    {{ item.name }}
                </h1>
                <div class="columns bike-margin">
                    <div class="column is-three-fifths">
                        <img :src="item.image" :alt="item.name">
                    </div>
                    <div class="column">
                        <div class="i-art">Артикул: <span class="i-art-name">{{ item.id }}</span></div>
                        <div class="i-brand">Бренд: <span class="i-brand-name">{{ item.brand }}</span></div>
                        <div class="i-brand">Тип: <span class="i-brand-name">{{ item.type }}</span></div>
                        <div class="i-description">{{ item.short_description }}
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-three-quarters">
                        <div class="item-description-box">
                            <div v-if="item.description" class="js-item-description">
                                <h2 class="subtitle-item is-1 no-bold ">
                                    Опис
                                </h2>
                                <p>{{ item.description }}</p>
                            </div>
                            <div v-if="item.features" class="js-item-features">
                                <h2 class="subtitle-item is-1 no-bold ">
                                    Особливості
                                </h2>
                                <ul>
                                    <li v-for="(row, index) in item.features" :key="index">
                                        {{ row }}
                                    </li>
                                </ul>
                            </div>
                            <div v-if="item.components" class="js-item-features">
                                <h2 class="subtitle-item is-1 no-bold ">
                                    Комплектуючі
                                </h2>
                                <table class="table is-hoverable is-fullwidth">
                                    <tbody>
                                    <tr v-for="(row, index) in item.components" :key="index">
                                        <td style="width: 30%">{{ row.key }}</td>
                                        <th>{{ row.value }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import 'bulma-pageloader/dist/css/bulma-pageloader.min.css';

export default {
    metaInfo() {
        return {
            title: this.item ? this.$title(this.item.name) : this.$title(),
        }
    },
    props: ['brand', 'slug'],
    name: "accessory",
    data() {
        return {
            loading: true,
            item: {},
            error: null
        }
    },
    mounted() {
        this.fetchData()
    },
    watch: {
        $route: 'fetchData'
    },
    methods: {
        async fetchData() {

            let url = '/api/accessory/' + this.brand + '/' + this.slug;

            await fetch(url)
                .then(item => {
                    if (!item.ok) {
                        throw new Error(`Хм. Ми нічого не знайшли`)
                    }

                    return item.json();
                })
                .then((data) => {
                    this.item = data.data;
                });

            this.loading = false;
        }
    }
}
</script>

<style scoped>
h2.subtitle-item {
    font-size: 2.4rem;
    margin: 2rem 0 1rem 0;
}
</style>
