<template>
    <div class="wrapper">
        <div class="container is-desktop">
            <div class="pageloader" :class="{ 'is-active': loading }">
                <span class="title">Завантажуєм...</span>
            </div>
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <router-link :to="{ name: 'home' }">Головна</router-link>
                    </li>
                    <li class="is-active"><a href="javascript:;" aria-current="page">Велосипеди</a></li>
                </ul>
            </nav>



            <div v-if="!loading">
                <div class="columns">
                    <div class="column">
                        <h1 class="title is-1 no-bold ">
                            {{ type }}
                        </h1>
                        <div v-if="empty">
                            <is-empty></is-empty>
                        </div>
                        <div>
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                            <div class="select is-small">
                                                <select v-model="filterYear">
                                                    <option value="null">Рік</option>
                                                    <option v-for="(row, index) in years" :value="row">{{
                                                            row
                                                        }}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="select is-small">
                                                <select v-model="filterBrand">
                                                    <option value="null">Бренд</option>
                                                    <option v-for="(row, index) in brands" :value="row.brandslug"
                                                            :key="row.id">{{
                                                            row.brand
                                                        }}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="select is-small" v-if="(filterBrand && displayItems.length)">
                                                <select v-model="filterModel">
                                                    <option value="null">Модель</option>
                                                    <option v-for="(row, index) in models" :value="row.slug"
                                                            :key="row.id">{{
                                                            row.name
                                                        }}
                                                    </option>
                                                </select>
                                            </div>
                                            <a href="javascript:;" @click="resetFilters"
                                               v-if="usesFilters"
                                               class="mt5"><span class="tag is-danger"><i class="fa fa-close"></i>&nbsp;Обнулити фільтри</span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <template v-if="displayItems.length">
                            <div class="columns is-centered items-row  is-variable is-1-mobile is-8"
                                 v-for="row in displayItems">
                                <div class="column has-text-centered items is-one-quarter" v-for="item in row"
                                     :key="item.id">
                                    <div class="columns">
                                        <div class="column has-text-left"><span
                                            class="item-label">{{ item.brand }} | {{ item.year }}</span></div>
                                    </div>
                                    <div class="columns">
                                        <div class="column">
                                            <a
                                                class="item-details"
                                                :href="`/bike/${item.brandslug}/${item.slug}`" @click.prevent="openDetails(item.id)">
                                                <img v-lazy="item.image" :title="item.name">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column item-title">
                                            <div class="item-desc">{{ item.type }}</div>
                                            {{ item.name }}
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column has-text-right">
                                            <a
                                                class="item-details"
                                                :href="`/bike/${item.brandslug}/${item.slug}`" @click.prevent="openDetails(item.id)">Детальніше&nbsp;&raquo;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <is-empty>
                                <h3 class="is-size-3 has-text-link-dark">Яка сумна новина(!</h3>
                                <p>По цих крітеріях ми нічого не знайшли. Попробуй знову ;)</p>
                            </is-empty>
                        </template>
                    </div>
                </div>

            </div>
        </div>
        <BikeDetails :brand='item.brandslug' :slug="item.slug" v-if="details" @closePopup="closePopup"></BikeDetails>
    </div>
</template>

<script>
import 'bulma-pageloader/dist/css/bulma-pageloader.min.css';
import IsEmpty from "../components/IsEmpty";
import BikeDetails from "../components/BikeDetails";
import Bike from "./bike";

export default {
    props: ['category'],
    name: "bikes",
    data() {
        return {
            filterYear: null,
            filterBrand: null,
            filterModel: null,
            details: false,
            data: [],
            items: [],
            brand: null,
            slug: null,
            loading: true,
            type: null,
            error: null,
            empty: false
        }
    },
    metaInfo() {
        return {
            title: this.$title(this.type)
        }
    },
    computed: {
        usesFilters() {
           return this.filterModel || this.filterYear || this.filterBrand
        },
        years() {
            return [2019, 2020, 2021].reverse()
        },
        brands() {
            let brands = []

            this.data.forEach((item) => {
                if (!brands.find(el => el.brandslug === item.brandslug)) {
                    brands.push(item)
                }
            })

            return brands
        },
        models() {
            let models = []

            this.items.forEach((item) => {
                if (!models.find(el => el.slug === item.slug)) {
                    models.push(item)
                }
            })

            return models
        },
        displayItems() {
            return _.chunk(this.items, 4) ?? [];
        }

    },
    watch: {
        $route: 'fetchData',
        filterYear: function (val) {
            this.filterModel = null
            this.setItems()
        },
        filterBrand: function (val) {
            if (val == 'null') {
                this.filterBrand = null
                this.filterModel = null
            } else {
                this.filterModel = null
            }
            this.setItems()
        },
        filterModel: function (val) {
            this.setItems()
        }
    },
    methods: {
        resetFilters() {
            this.filterYear = null
            this.filterBrand = null
            this.filterModel = null
        },
        openDetails(id) {
            this.item = this.data.find(el=>el.id === id);
            this.details = true

            return false
        },
        closePopup() {
            this.details = false
            this.item = null
        },
        setItems() {
            let data

            data = this.data.filter(r => {
                return ((r.year === this.filterYear) || (this.filterYear === 'null') || (this.filterYear === null))
            })
                .filter(r => {
                    return ((r.brandslug === this.filterBrand) || (this.filterBrand === 'null') || (this.filterBrand === null))
                })
                .filter(r => {
                    return ((r.slug === this.filterModel) || (this.filterModel === 'null') || (this.filterModel === null))
                })

            this.items = data
            // this.items = data
        },
        async fetchData() {
            let _category = (this.category) ? this.category : 'all';
            this.loading = true;
            this.resetFilters();

            let url = '/api/bikes/' + _category;

            fetch(url)
                .then(item => {
                    return item.json();
                })
                .then((data) => {
                    if (_category === 'all') {
                        this.type = 'Велосипеди'
                    } else {
                        let d = data.data
                        if (d.length) {

                            this.type = 'Велосипеди - ' + d[0].type;
                            this.empty = false;
                        } else {
                            this.type = 'Велосипеди';
                            this.empty = true;
                        }
                    }

                    this.data = data.data;
                    this.setItems();
                    this.loading = false;
                });
        }
    },
    mounted() {
        this.fetchData()
    },
    components: {
        Bike,
        IsEmpty,
        BikeDetails
    },
}
</script>

<style scoped>
.mt5 {
    vertical-align: text-top;
}
</style>
