<template>
    <div class="wrapper">
        <div class="container is-desktop">
            <div class="pageloader" :class="{ 'is-active': loading }">
                <span class="title">Завантажуєм...</span>
            </div>

            <div v-if="!loading">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <router-link :to="{ name: 'home' }">Головна</router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'clothes' }" aria-current="page">Одяг</router-link>
                        </li>
                        <li class="is-active">
                            <a href="javascript:;" aria-current="page">{{ item.type }}</a>
                        </li>
                    </ul>
                </nav>

                <h1 class="title is-1 no-bold ">
                    {{ item.name }}
                </h1>
                <div class="columns bike-margin">
                    <div class="column is-three-fifths">
                        <img :src="item.image" :alt="item.name">
                    </div>
                    <div class="column">
                        <div class="i-art">Артикул: <span class="i-art-name">{{ item.id }}</span></div>
                        <div class="i-brand">Бренд: <span class="i-brand-name">{{ item.brand }}</span></div>
                        <div class="i-brand">Тип: <span class="i-brand-name">{{ item.type }}</span></div>
                        <div class="i-description">{{ item.short_description }}
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-three-quarters">
                        <div class="item-description-box">
                            <div v-if="item.description" class="js-item-description">
                                <h2 class="subtitle-item is-1 no-bold ">
                                    Опис
                                </h2>
                                <p>{{ item.description }}</p>
                            </div>
                            <div v-if="item.features" class="js-item-features">
                                <h2 class="subtitle-item is-1 no-bold ">
                                    Особливості
                                </h2>
                                <ul>
                                    <li v-for="(row, index) in item.features" :key="index">
                                        {{ row }}
                                    </li>
                                </ul>
                            </div>
                            <div v-if="item.components" class="js-item-features">
                                <h2 class="subtitle-item is-1 no-bold ">
                                    Комплектуючі
                                </h2>
                                <table class="table is-hoverable is-fullwidth">
                                    <tbody>
                                    <tr v-for="(row, index) in item.components" :key="index">
                                        <td style="width: 30%">{{ row.key }}</td>
                                        <th>{{ row.value }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import 'bulma-pageloader/dist/css/bulma-pageloader.min.css';

    export default {
        props: ['brand', 'slug'],
        name: "clothespart",
        data() {
            return {
                loading: true,
                title: null,
                item: null,
                error: null
            }
        },
        metaInfo() {
            return {
                title: this.$title(this.title)
            }
        },
        mounted() {
            this.fetchData()
        },
        watch: {
            $route: 'fetchData'
        },
        methods: {
            fetchData() {

                let url = '/api/clothes/' + this.brand + '/' + this.slug;

                fetch(url)
                    .then(item => {
                        return item.json();
                    })
                    .then((data) => {
                        this.item = data.data;
                        this.title = `${this.item.name} | ${this.item.brand}`
                        this.loading = false;
                    });
            }
        }
    }
</script>

<style scoped>
    h2.subtitle-item {
        font-size: 2.4rem;
        margin: 2rem 0 1rem 0;
    }
</style>
