<template>
    <div>
        <slider v-if="!this.$isMobile()"></slider>
        <div class="wrapper">
            <div class="container is-desktop">

                <div class="columns">
                    <div class="column">
                        <div class="notification is-warning info">
                            <h2>Увага!</h2>
                            У нас з'явився розділ "Розпродаж" для велосипедів і запчастин.
                            І ми пропонуємо вам солодкі ціни на <strong>БМХ KENCH!</strong> )
                            <p>Заходьте, непошкодуєте! -
                                <router-link :to="{name: 'bikes-sale'}">натискати тут для велосипедів</router-link>
                                і
                                <router-link :to="{name: 'spares-sale'}">тут для запчастин</router-link>
                            </p>
                        </div>
                    </div>
                </div>

                <div v-if="!isLoading" class="hero">
                    <div class="hero-body">
                        <h1 class="title is-1 no-bold ">
                            Наші новинки
                        </h1>
                    </div>
                </div>

                <div v-if="isLoading" style="margin-top: 50px; margin-bottom: 50px">
                    <progress class="progress is-small is-info" max="100">15%</progress>
                </div>


                <div class="columns is-centered items-row  is-variable is-1-mobile is-8" v-for="row in newestItems">
                    <div class="column has-text-centered items" v-for="item in row" :key="item.id">
                        <div class="columns">
                            <div class="column has-text-left"><span
                                class="item-label">{{ item.brand }} | {{ item.year }}</span></div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <router-link :to="{ name: 'bike', params: { brand: item.brandslug, slug:item.slug }}">
                                    <img v-lazy="item.image" :title="item.name">
                                </router-link>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column item-title">
                                <div class="item-desc">{{ item.type }}</div>
                                {{ item.name }}
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column has-text-right">
                                <router-link :to="{ name: 'bike', params: { brand: item.brandslug, slug:item.slug }}"
                                             class="item-details">Детальніше&nbsp;&raquo;
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="!isLoading" class="has-text-centered all-bikes">
                    <router-link :to="{ name: 'bikes' } " class="a-more">Подивитись всі велосипеди&nbsp;&raquo;
                    </router-link>
                </div>

                <div class="columns">
                    <div class="column is-two-fifths">
                        <div class="img_center">
                            <img src="images/index-select.jpg" alt="Підкажи!">
                        </div>
                    </div>
                    <div class="column">
                        <h1 class="title is-1 no-bold ">
                            Незнаєте як вибрати?
                        </h1>
                        <p class="p-block-text">Нічого страшного, ми вам допоможем!</p>
                        <p class="p-block-text">Наші працівници, після того, як зададуть декілька питань - запропонують
                            вам
                            найкращий вибір.</p>
                        <p class="p-block-text">Не лінуйтесь, питайте, і ви завжди отримаєте кваліфіковану
                            відповідь.</p>
                        <p class="p-block-text">У нас Ви можете купити велосипед для будь-якого віку, статі, зросту і
                            переваг в їзді:
                            дитячі велосипеди, крос-кантрі, Extreme, гірські, дорожні, комфортні, шосейні, жіночі,
                            складні,
                            двох
                            підвісні.</p>
                        <p class="p-block-text">Ми вас чекаєм!</p>
                    </div>
                </div>


                <div class="columns">
                    <div class="column">
                        <h1 class="title is-1 no-bold ">
                            Сервіс та гарантія
                        </h1>
                        <p class="p-block-text">Гарантійне обслуговування проводиться безкоштовно силами наших
                            працівників.</p>
                        <p class="p-block-text">Термін дії гарантії на велосипеди вказаний у гарантійному талоні,
                            виданому
                            при
                            покупці товару, і встуває в дію
                            з дня продажу товару.</p>
                        <p class="p-block-text">Гарантія на аксесуари та компоненти вступає в дію з моменту продажу (по
                            чеку).</p>
                    </div>
                    <div class="column is-two-fifths">
                        <div class="img_center">
                            <img src="images/index-service.jpg" alt="Підкажи!">
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-two-fifths">
                        <div class="img_center">
                            <img src="images/index-draisine.jpg" alt="Draisine">
                        </div>
                    </div>
                    <div class="column">
                        <h1 class="title is-1 no-bold ">
                            Чи знаєте Ви як починався велосипед ?
                        </h1>
                        <p class="p-block-text">
                            Історія заходить навіть у рельєфні візерунки стародавнього Єгипту. Спочатку створили, щось
                            на
                            кшталт сучасного БІГОВЕЛУ. Задум починається з Парижу і належить
                            французові de Sivrac. Це була дерев’яна конструкція з двох коліс з’єднаних між собою
                            кулісою,
                            на якій вмонтували сідло. Щоб повернути на повороті, людина брала в руки "велосипед" і
                            переставляла
                            на потрібний напрямок. Туфлі виконували роль теперішніх гальмів. З гори не розженешся,
                            "байк" не
                            контрольований. Сидячи на сідлі, людина постійно відштовхувалась ногами від землі (бігла).
                            Цей БІГОВЕЛ відіграв велику роль у еволюції сьогоднішнього велосипеду.
                        </p>
                        <p class="p-block-text">
                            Наступні вдосконалення належать німцеві Karl von Drais de Sauerbrun, котрий в 1816 році
                            додав
                            комфорту до катання. Так модель одержала назву DRAISINE. Ця конструкція і сьогодні
                            знаходиться у
                            міському музеї Karlsruhe. Drais створив сідло, регульоване по висоті, гальма і привід. Така
                            конструкція попала в руки англійця Dennisa Johnsona. Він і розпочав виробництво.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex';
import Slider from "./../components/Slider";

export default {
    name: "home",
    components: {
        Slider
    },
    data() {
        return {
            isLoading: true
        }
    },

    computed: {
        ...mapGetters({
            items: 'bikes/newestBikes'
        }),
        newestItems() {
            if (this.items) {
                this.isLoading = false;
                return this.items;
            } else {
                this.isLoading = false;
                return [];
            }
        }
    },

    methods: {
        ...mapActions({
            requestNewestBikes: 'bikes/requestNewestBikes'
        }),

        initPage() {
            this.isLoading = true;
            this.requestNewestBikes();
        }
    },
    mounted() {
        if (!this.items.length) {
            this.initPage();
        }
    }
}
</script>

<style scoped>
h2 {
    font-size: 2rem;
}

.info {
    font-size: 1.4rem;
    margin-top: 3rem;
}
</style>
