<template>
    <div class="wrapper">
        <div class="container is-desktop">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <router-link :to="{ name: 'home'}">Головна</router-link>
                    </li>
                    <li class="is-active"><a href="javascript:;" aria-current="page">Гарантія</a></li>
                </ul>
            </nav>
            <h1 class="title is-1 no-bold ">
                Гарантія та сервіс
            </h1>
            <div class="columns bike-margin is-vcentered  is-centered">
                <div class="column is-two-fifths">
                    <div class="img_center">
                        <img src="/images/shop/01.jpg" alt="asd"></div>
                </div>
                <div class="column">
                    <div class="border-left">
                        <h2 class="column-title">Гарантія</h2>

                        <div>
                            <p>Гарантійне обслуговування здійснюється відповідно до положень Закону України «Про захист
                                прав
                                споживачів».</p>
                            <p>На всі товари, придбані у нашому магазині, поширюється гарантія фірм-виробників, на
                                окремі
                                групи товарів може бути встановлена ​​гарантія магазину.

                            <p>Інформацію про терміни і умови гарантійного обслуговування можна уточнити у менеджерів
                                торгового залу. Умови
                                гарантії технічно складного товару, прописані в паспорті виробу.

                            <p>Терміни гарантії обчислюються з дня продажу і поширюються тільки на товари придбані у
                                нашому
                                магазині</p>

                            <p>Для отримання сервісного обслуговування необхідно пред'явити товар, гарантійний талон і
                                касовий чек. При втраті
                                касового чека, запускається процедура відновлення чека.</p>

                            <p>Звертаємо Вашу увагу на те, що при недотриманні правил експлуатації товару, при наявності
                                на
                                товарі механічних
                                пошкоджень, слідів впливу хімічних речовин - гарантія анулюється.</p>

                            <p>У Вашій присутності фахівець магазину проведе огляд товару, перевірить відсутність
                                механічних пошкоджень і
                                дотримання правил експлуатації, виявить дефект і запропонує рішення щодо усунення
                                проблеми.
                                Якщо при огляді товару дефект виявлений не буде, в цьому
                                випадку гарантійне обслуговування може зайняти кілька днів.</p>

                            <p>Ми використовуємо всі можливості для найбільш повного, чіткого і швидкого задоволення
                                кожного запиту на
                                гарантійне обслуговування.</p>

                        </div>


                    </div>
                </div>
            </div>
            <div class="columns bike-margin is-vcentered  is-centered">
                <div class="column">
                    <div class="border-left">
                        <h2 class="column-title">Сервіс</h2>
                        <p>Також ми проводимо ремонт велосипедів, заміну-встановлення запчастин і аксесуарів.</p>
                        <p>Наші майстри виконають будь-які види робіт пов'язані з обслуговуванням і ремонтом
                            велосипеда.</p>
                        <p>Можлива збірка велосипеду під замовлення.</p>
                        <p>Можливий ремонт велосипеда будь-якого типу від дитячих до професійних. Наші співробітники
                            професіонали з багаторічним досвідом, відмінно справляться з цим.</p>

                        <p>Абсолютно всі клієнти, які вирішили придбати у нас велосипед, отримують кваліфіковану
                            допомогу при підборі, налаштуванні та в подальшому обслуговуванні байка.</p>
                        <p>Наші досвідчені фахівці зроблять повне налаштування велосипеда:
                            швидкості, гальм і вузлів щоб ви могли поїхати на придбаному велосипеді з магазину.</p>
                    </div>
                </div>
                <div class="column is-two-fifths">
                    <div class="img_center">
                        <img src="/images/shop/02.jpg" alt="asd"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "about",
        metaInfo() {
            return {
                title: this.$title("Гарантія та сервіс?")
            }
        },
    }
</script>

<style scoped>
    .border-left {
        border-left: 1px solid #3273dc;
        padding-left: 10px;
    }

    .column-title {
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 1rem;
    }
</style>

