<template>
    <div class="wrapper">
        <div class="container is-desktop">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <router-link :to="{ name: 'home'}">Головна</router-link>
                    </li>
                    <li class="is-active"><a href="javascript:;" aria-current="page">Де купити?</a></li>
                </ul>
            </nav>
            <h1 class="title is-1 no-bold ">
                Де купити?
            </h1>
            <div class="columns bike-margin is-vcentered  is-centered">
                <div class="column" style="text-align: center">
                    <h2 class="sub-title">Знайти нас дуже просто, приходьте!)</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1171.8986714065625!2d25.59383787647512!3d49.548393150688476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473036b1791f1f13%3A0x158e506373522d7a!2z0KDQvtCy0LXRgNCR0LDQudC6LNC80LDQs9Cw0LfQuNC9INCy0LXQu9C-0YHQuNC_0LXQtNGW0LI!5e0!3m2!1suk!2sua!4v1584153901913!5m2!1suk!2sua"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "whereToBuy",
        metaInfo() {
            return {
                title: this.$title("Де купити?")
            }
        },
    }
</script>

<style scoped>
    .sub-title {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
</style>
