<template>
    <div>
        <div v-if="!this.$isMobile()" class="line-gradient"></div>
        <div class="wrapper">
            <div class="container is-desktop">
                <div class="columns columns-nav is-vcentered">
                    <div class="column">

                        <!-- Main container -->
                        <nav class="level">
                            <!-- Left side -->
                            <div class="level-left">
                                <div class="level-item" :class="{ 'logo-margin': this.$isMobile() }">
                                    <router-link :to="{ name: 'home' }"><img src="/images/logo-bike.png" width="156"
                                                                             height="41">
                                    </router-link>
                                </div>
                                <main-menu></main-menu>
                            </div>

                            <!-- Right side -->
                            <div v-if="!this.$isMobile()" class="level-right nav-level-right">
                                <p class="level-item">
                                    <router-link :to="{ name: 'wheretobuy' }">Де купити?</router-link>
                                </p>
                                <p class="level-item">
                                    <router-link :to="{ name: 'warranty' }">Гарантія та сервіс</router-link>
                                </p>
                                <p class="level-item">
                                    <router-link :to="{ name: 'about' }">Про нас</router-link>
                                </p>
                            </div>
                        </nav>

                    </div>

                </div>
            </div>
        </div>

        <router-view></router-view>

        <div class="wrapper">
            <section class="menu-bottom">
                <div class="container is-desktop">
                    <div class="line-gradient"></div>
                    <div class="columns">
                        <div class="column">
                            <p class="menu-column-title">Каталог</p>
                            <div>
                                <router-link :to="{ name: 'bikes'}" class="menu-column-link">Велосипеди</router-link>
                            </div>
                            <div>
                                <router-link :to="{ name: 'accessories'}" class="menu-column-link">Аксесуари
                                </router-link>
                            </div>
                            <div>
                                <router-link :to="{ name: 'spares'} " class="menu-column-link">Запчастини</router-link>
                            </div>
                            <div>
                                <router-link :to="{ name: 'clothes'}" class="menu-column-link">Одяг
                                </router-link>
                            </div>
                            <div class="menu-column-text">&nbsp;</div>
                            <div>
                                <router-link :to="{ name: 'about' }" class="menu-column-link">Про нас</router-link>
                            </div>
                            <div class="menu-column-text">&nbsp;</div>
                            <div class="menu-column-text">&copy; 2020, Ровербайк</div>
                            <div class="menu-column-text"><small>Розроблено <a href="http://brilliant-group.net"
                                                                               target="_blank">Brilliant
                                Group</a></small></div>
                        </div>
                        <div class="column">
                            <p class="menu-column-title">Сервіс</p>
                            <div>
                                <router-link :to="{ name: 'warranty'} " class="menu-column-link">Сервіс</router-link>
                            </div>
                            <div>
                                <router-link :to="{ name: 'warranty'} " class="menu-column-link">Гарантійне
                                    обслуговувавння
                                </router-link>
                            </div>
                        </div>
                        <div class="column is-1">&nbsp;</div>
                        <div class="column">
                            <p class="menu-column-title">Де ми?</p>
                            <div class="menu-column-bold-text">м.Тернопіль, вул. Шептицького, 3</div>
                            <div class="menu-column-text">пн-пт.: з 09:00 до 18:30</div>
                            <div class="menu-column-text">суб-нед.: з 09:00 до 17:00</div>
                            <div>
                                <router-link :to="{ name: 'wheretobuy' }" class="menu-column-link">Де купити?</router-link>
                            </div>

                        </div>
                        <div class="column">
                            <p class="menu-column-title">Контакт</p>
                            <div class="menu-column-bold-text">Подзвонити</div>
                            <div class="menu-column-text"><a href="tel:+380673199461">+380 (67) 319 94 61</a></div>
                            <div class="menu-column-text">&nbsp;</div>
                            <div class="menu-column-bold-text">Написати</div>
                            <div class="menu-column-text">roverbike.te@gmail.com</div>

                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>
</template>

<script>
    import MainMenu from "./MainMenu";

    export default {
        name: "App",
        computed: {
            isBreadcrumb: function () {
                return false;
            }
        },
        components: {MainMenu},
    }
</script>

<style scoped>
    .line-gradient {
        height: 2px;
        background-image: linear-gradient(to right, #ff7c00, #2a0b59, #ff7c00);
    }

    .logo-margin {
        margin: 10px 0 0 0;
    }

</style>
