<template>
    <div class="mt100">
        <slot>
            <h3 class="is-size-3">Яка сумна новина(!</h3>
            <p>Ми нічого не знайшли, попробуй знову ;)</p>
        </slot>
    </div>
</template>

<script>
    export default {
        name: "IsEmpty"
    }
</script>

<style scoped>
.mt100 {
    margin-top: 100px;
}
</style>
