<template>
    <div class="pageloader is-active"
         :style="{'background-color':  color + '!important'} "
    >
        <span class="title">Завантажуєм!!...</span>
    </div>
</template>

<script>
export default {
    name: "Loader",
    computed: {
        color() {
            const colors = ['#ff0066', '#0099cc', '#33cc00']
            return colors[Math.floor(Math.random()*3)]
        }
    }
}
</script>

<style scoped>

</style>