<template>
    <div v-if="show" class="level-item nav-level-left">
            <div class="level-item">
                <div class="dropdown is-hoverable" ref="dropdown">
                    <div class="dropdown-trigger main-menu">
                        <a href="javascript:;" aria-haspopup="true" aria-controls="dropdown-bikes">Велосипеди
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>

                    <div class="dropdown-menu" id="dropdown-bikes" role="menu">
                        <div class="dropdown-content">
                            <router-link :to=" { name: 'bikes', params: { category: row.slug }}"
                                         class="dropdown-item"
                                         v-for="(row, index) in items.bikes" :key="index"
                            >
                                {{ row.name }}
                            </router-link>
                            <hr class="dropdown-divider">
                            <router-link :to="{name:'bikes-sale'}" class="dropdown-item">Розпродаж&nbsp;&raquo;
                            </router-link>
                            <hr class="dropdown-divider">
                            <router-link :to="{name:'bikes'}" class="dropdown-item">Всі велосипеди&nbsp;&raquo;
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="level-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger main-menu">
                        <a href="javascript:;" aria-haspopup="true" aria-controls="dropdown-components">
                            Запчастини <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div class="dropdown-menu" id="dropdown-components" role="menu">
                        <div class="dropdown-content">
                            <router-link :to=" { name: 'spares', params: { category: row.slug }}" class="dropdown-item"
                                         v-for="(row, index) in items.spares" :key="index">
                                {{ row.name }}
                            </router-link>
                            <hr class="dropdown-divider">
                            <router-link :to="{name:'spares-sale'}" class="dropdown-item">Розпродаж&nbsp;&raquo;
                            </router-link>
                            <hr class="dropdown-divider">
                            <router-link :to="{name:'spares'}" class="dropdown-item">Всі запчастини&nbsp;&raquo;
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger main-menu">
                        <a href="javascript:;" aria-haspopup="true"
                           aria-controls="dropdown-accessories">Аксесуари <i class="fa fa-angle-down"
                                                                             aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="dropdown-menu" id="dropdown-accessories" role="menu">
                        <div class="dropdown-content">
                            <router-link :to=" { name: 'accessories', params: { category: row.slug }}"
                                         class="dropdown-item" v-for="(row, index) in items.accessories" :key="index">
                                {{ row.name }}
                            </router-link>
                            <hr class="dropdown-divider">
                            <router-link :to="{name:'accessories-sale'}" class="dropdown-item">Розпродаж&nbsp;&raquo;
                            </router-link>
                            <hr class="dropdown-divider">
                            <router-link :to="{name:'accessories'}" class="dropdown-item">Всі аксесуари&nbsp;&raquo;
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger main-menu">
                        <a href="javascript:;" aria-haspopup="true"
                           aria-controls="dropdown-clothes">Одяг <i class="fa fa-angle-down"
                                                                    aria-hidden="true"></i>
                        </a>
                    </div>

                    <div class="dropdown-menu" id="dropdown-clothes" role="menu">
                        <div class="dropdown-content">
                            <router-link :to=" { name: 'clothes', params: { category: row.slug }}" class="dropdown-item"
                                         v-for="(row, index) in items.clothes" :key="index">
                                {{ row.name }}
                            </router-link>
                            <hr class="dropdown-divider">
                            <router-link :to="{name:'clothes-sale'}" class="dropdown-item">Розпродаж&nbsp;&raquo;
                            </router-link>
                            <hr class="dropdown-divider">
                            <router-link :to="{name:'clothes'}" class="dropdown-item">Весь одяг&nbsp;&raquo;
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
    export default {
        name: "MainMenu",
        data() {
            return {
                items: {},
                show: false
            }
        },
        methods: {
            hideHover() {
                let e = this.$refs.dropdown
                e.className = "dropdown";
                setTimeout(function () {
                    e.className = "dropdown is-hoverable";
                }, 100);
            }
        },
        watch: {
            $route(to, from) {
                this.hideHover()
            }
        },
        mounted() {
            fetch('/api/menu')
                .then(items => {
                    return items.json();
                })
                .then((data) => {
                    this.items = data;
                    this.show = true;
                });


        }
    }
</script>

<style scoped>
    .fa.fa-angle-down {
        color: #ff6600 !important;
    }

    .nav-level-left {
        margin: .3rem 0 0 2rem;
    }

    .main-menu {
        font-size: .75rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .05rem;
        margin-right: 10px;
    }

    .main-menu a {
        color: #000;
    }

    .main-menu a:hover {
        text-decoration: underline;
    }
</style>
