<template>
    <div class="columns is-mobile is-multiline is-centered custom-slider">
        <img src="images/slider-test.png">
    </div>
</template>

<script>
    export default {
        name: "Slider"
    }
</script>

<style scoped>

</style>
